body {
    background-color: rgb(14, 14, 14);
}

::-webkit-scrollbar {
    display: none;
}

:root {
    background-color: rgb(14, 14, 14);
    color: white;
    font-family: sans-serif;
}

.id-container {
    padding: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.id-wrapper {
    display: flex;
    gap: 12px;
}

.label-session {
    font-weight: 800;
    margin-right: 6px;
}

.id-textbox {
    padding: 7px;
    background-color: black;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.288);
    border-radius: 8px;
    color: white;
    font-weight: 800;
    width: 310px;
    outline: none;
    transition: 0.12s;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right-style: none;
}

.id-textbox:focus {
    background-color: rgb(31, 31, 31);
}

.id-textbox-long {
    padding: 7px;
    background-color: black;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.288);
    border-radius: 8px;
    color: white;
    font-weight: 800;
    outline: none;
    transition: 0.12s;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right-style: none;
    width: 300px;
}

.id-textbox-long:focus {
    background-color: rgb(31, 31, 31);
}

.id-textbox-long:disabled {
    color: gray;
}

.btn-copy {
    padding: 7px;
    cursor: pointer;
    transition: 0.12s;
    border-style: solid;
    border-width: 1px;
    font-weight: 800;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-style: solid;
    border-color: white;
    border-left-style: none;
    background-color: white;
}

.btn-copy:hover {
    background-color: rgb(218, 218, 218);
}

.btn-copy:active {
    background-color: rgb(189, 189, 189);
}

.btn-copied {
    padding: 7px;
    cursor: pointer;
    transition: 0.12s;
    border-style: solid;
    border-width: 1px;
    font-weight: 800;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left-style: none;
    background-color: rgb(60, 170, 60);
    border-color: rgb(79, 214, 79);
    color: white;
}

.panel-container {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    padding: 12px;
    padding-top: 10px;
}

.uploader-wrapper {
    width: 100%;
    height: 500px;
    border-style: dashed;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.251);
    border-radius: 12px;
    transition: 0.12s;
    overflow-y: scroll;
}

.uploader-wrapper:hover {
    background-color: rgb(26, 26, 26);
}

.reciever-wrapper {
    width: 100%;
    height: 500px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.251);
    border-radius: 12px;
    overflow-y: scroll;
}

.top-bar {
    display: flex;
    gap: 12px;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: rgb(21, 21, 21);
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: rgba(255, 255, 255, 0.131);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    position: sticky;
}

.top-bar-recieve {
    display: flex;
    background-color: rgb(21, 21, 21);
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: rgba(255, 255, 255, 0.131);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    position: sticky;
    overflow: hidden;
}


.btn-send {
    padding: 7px;
    cursor: pointer;
    transition: 0.12s;
    border-style: solid;
    border-width: 1px;
    font-weight: 800;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-style: solid;
    border-color: white;
    border-left-style: none;
    background-color: white;
}

.btn-send:hover {
    background-color: rgb(218, 218, 218);
}

.btn-send:active {
    background-color: rgb(189, 189, 189);
}

.btn-send:disabled {
    color: rgb(104, 104, 104);
    background-color: rgb(183, 183, 183);
    border-color: rgb(183, 183, 183);
    cursor: default;
}

.file-input {
    display: none;
}

.no-files {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: rgb(55, 55, 55);
}

.no-files-image {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.file-row {
    display: flex;
    padding: 7px;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.208);
    border-bottom-style: solid;
    gap: 12px;
    cursor: pointer;
    transition: 0.12s;
}

.file-row:hover {
    background-color: rgb(21, 21, 21);
}

.file-row-download {
    display: flex;
    justify-content: space-between;
    padding: 7px;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.208);
    border-bottom-style: solid;
    gap: 12px;
    cursor: pointer;
    transition: 0.12s;
}

.file-row-download:hover {
    background-color: rgb(21, 21, 21);
}

.file-download-root {
    display: flex;
    margin: 4px;
}

.icon {
    width: 20px;
    height: 20px;
}

.file-list-root {
    overflow: scroll;
}

.icon-row {
    width: 20px;
    height: 20px;
    filter: invert();
    margin-top: 2px;
}

.btn-files {
    transition: 0.12s;
    font-family: sans-serif;
    font-weight: 800;
    cursor: pointer;
    border-radius: 7px;
    background-color: rgb(21, 21, 21);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.117);
}

.btn-files:hover {
    background-color: rgb(49, 49, 49);
}

.btn-files:active {
    background-color: rgb(31, 31, 31);
}

.btn-row {
    display: flex;
    gap: 5px;
}

.file-name {
    margin: 4px;
    color: rgb(255, 255, 255);
}

.top-bar-header {
    margin: 6.78px;
}

form {
    display: flex;
}

.btn-download {
    margin-top: 3px;
    margin-right: 5px;
    border-radius: 8px;
    font-weight: 800;
    cursor: pointer;
    transition: 0.12s;
    border-radius: 7px;
    background-color: rgb(21, 21, 21);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.117);
}

.btn-download:hover {
    background-color: rgb(49, 49, 49);
}

.btn-download:active {
    background-color: rgb(31, 31, 31);
}

.bread-root {
    padding: 30px;
    right: 0;
    bottom: 0;
    position: fixed;
    display: flex;
}

.toast {
    background-color: rgb(32, 22, 22);
    padding: 12px;
    animation-name: toastScale;
    animation-duration: 0.20s;
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    display: flex;
    border-radius: 12px;
    gap: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(255, 97, 97, 0.352);
    box-shadow: 0px 20px 20px rgba(32, 10, 10, 0.542);
}

.toast-out {
    background-color: rgb(255, 73, 73);
    padding: 12px;
    animation-name: toastScaleOut;
    animation-duration: 0.20s;
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    display: flex;
    gap: 5px;
}

.image-toast {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.errorMsg {
    margin: 0;
    font-family: sans-serif;
    color: rgb(255, 71, 71);
    margin: 12px;
}

.developer-tag {
    color: rgb(148, 148, 148);
}

.devlink {
    color: white;
}

.devtag {
    padding: 12px;
}

@keyframes toastScale {
    from {
        scale: 0%;
    }
    to {
        scale: 100%;
    }
}

@keyframes toastScaleOut {
    from {
        scale: 100%;
    }
    to {
        scale: 0%;
    }
}